<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ServiceBusConnection" value="Endpoint=sb://psobai-messaging.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=4sMYcLXhXh2+OIPXdiZJGiVbcFTlBB9TToKISTWhtds="></add>
  </appSettings>
</configuration>